$shadow-dropdown: 0 1px 24px 0 rgb(0 0 0 / 40%);
$shadow-hover: 0 4px 24px 0 rgb(0 0 0 / 24%);
$shadow-bottom-item: 0 -2px 12px 0 rgb(0 0 0 / 25%);
$shadow-top: 0 -4px 1px rgb(20 20 20 / 8%), 0 -12px 6px rgb(20 20 20 / 16%), 0 -8px 20px rgb(20 20 20 / 24%);
$shadow-left: -4px 0 1px rgb(20 20 20 / 8%), -12px 0 6px rgb(20 20 20 / 16%), -8px 0 20px rgb(20 20 20 / 24%);
$shadow-right: 4px 0 1px rgb(20 20 20 / 8%), 12px 0 6px rgb(20 20 20 / 16%), 8px 0 20px rgb(20 20 20 / 24%);
$shadow-short: 0 6px 16px -12px rgb(23 40 77 / 6%);
