$z-index-behind: -1;
$z-index-default: 0;
$z-index-primary: 1;
$z-index-secondary: 2;
$z-index-dropdown-menu: 10;
$z-index-sidebar: 100;
$z-index-editor: 100;
$z-index-overlay: 101;
$z-index-modal: 1000;
$z-index-notification: 1001;
$z-index-max: 99999;
