@import 'src/app/styles/vars';

.DefaultLayout {
  @include grid-for(desktop-small);
  min-height: 100vh;

  @include tablet-down {
    @include grid-for(tablet-large);
  }

  @include mobile-down {
    @include grid-for(mobile-small);
  }
}

.DefaultLayout__container {
  @include flex-col;
  grid-column: 3 / span 8;

  @include tablet-down {
    grid-column: 1 / -1;
  }
}

.DefaultLayout__header {
  display: grid;
  margin-bottom: $spacing-medium-x;

  @include mobile-up {
    grid-template:
      'mopus cp cbr'
      / auto 1fr auto;
    height: $header-height;
    align-items: center;
    column-gap: $spacing-medium;
  }

  @include mobile-down {
    grid-template:
      'mopus cp'
      'mopus cbr'
      / 1fr auto;
    align-items: center;
    row-gap: $spacing-small-4x;
  }
}

.DefaultLayout__logo {
  width: auto;
  height: 40px;
}

.DefaultLayout__logoMopusContainer {
  border-radius: 0 0 $radius-large $radius-large;
  background-color: $color-accent;
  padding: $spacing-small-2x;
  margin-right: auto;
  grid-area: mopus;
  height: $header-height;
}

.DefaultLayout__logo_mopus {
  width: auto;
  height: 100%;
}

.DefaultLayout__logo_cp {
  grid-area: cp;

  @include mobile-up {
    justify-self: end;
  }

  @include mobile-down {
    height: 24px;
    align-self: end;
  }
}

.DefaultLayout__logo_cbr {
  height: 44px;
  grid-area: cbr;

  @include mobile-down {
    height: 28px;
  }
}

.DefaultLayout__content {
  height: 100%;
}