@import 'src/app/styles/vars';

$chat-input-height: 50px;
$chat-input-radius: $radius-large-x;

.ChatFormText {
  @include flex-col;
  gap: $spacing-small;
}

.ChatFormText__richInput {
  @include flex;
  position: relative;
  width: 100%;
  min-height: $chat-input-height;
  height: 100%;
  align-items: stretch;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
  }
}

.ChatFormText__input {
  border-radius: $chat-input-radius 0 0 $chat-input-radius !important;
  flex: 1;
  min-height: 50px !important;
}

.ChatFormText__richInputButton {
  width: $chat-input-height !important;
  height: auto !important;
  border-radius: 0 $chat-input-radius $chat-input-radius 0 !important;
  padding: 0  !important;
}

.ChatFormText__buttonIcon {
  width: 24px;
  height: 24px;
}