@import 'src/app/styles/vars';

.UploadButton {
  width: 100%;
  height: 80px !important;
  //background-color: $color-on-surface-dark-400;
}

.UploadButton__icon {
  width: 24px;
  height: 24px;
  color: white;
}

.UploadButton__input {
  display: none;
}