@import 'src/app/styles/vars';

.SimpleButton {
  width: 100% !important;

  @include media-down(tablet-small) {
    width: 100% !important;
  }
}

.SimpleButton__text {
  display: flex;
  align-items: center;
  column-gap: $spacing-small-3x;
}