@import 'src/app/styles/vars';

// Общий лейаут

.ChatPage {

}

.ChatPage__inner {
  position: relative;
  //width: $breakpoint-tablet-small;
  width: 100%;
  height: 100vh;
  max-height: 100svh;
  margin: 0 auto;
  overflow: hidden;
  background-image: url('./assets/background2.jpg');
  background-size: 150%;

  @include media-down(tablet-small) {
    width: 100%;
  }
}

.ChatPage__container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  //background-color: rgba($color-on-surface-dark-100, 0.6);
  //background-color: $color-surface-primary;
  background-color: rgba($color-surface-primary, 0.7);
  backdrop-filter: blur(10px);
  padding: $spacing-medium-x $spacing-small 0;

  overflow-y: scroll;

  @include scrollbar;
  @include flex-col;
}

// Инпут

.ChatPage__inputContainer {
  position: absolute;
  width: 100%;
  min-height: 100px;
  padding: $spacing-small;
  bottom: 0;
  background-color: rgba($color-surface-primary, 0.6);
  backdrop-filter: blur(10px);
  z-index: 2;
  @include flex-col;

  max-height: 100svh;
  overflow-y: auto;
  @include scrollbar;
}

.ChatPage__skipButton {
  width: 100% !important;
  margin-top: $spacing-small;
}

// Секция с контентом и сообщениями

.ChatPage__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  //justify-content: flex-end;
  row-gap: $spacing-small;
}

.ChatPage__message {
  width: fit-content;
  max-width: 66%;

  @include media-down(tablet-small) {
    max-width: 100%;
  }
}

.ChatPage__message_right {
  margin-left: auto;
}

.ChatPage__message_left {
  margin-right: auto;
}