@import 'src/app/styles/vars';

$textarea-height: 192px;

.HomePage {
  @include flex-col;
  padding-bottom: $spacing-medium-x;
  height: 100%;
}

.HomePage__title {
  font-family: $font-family-ibm-plex-mono, $font-family-mono;
  margin-bottom: $spacing-small-x;
}

.HomePage__text {
  color: $color-text-secondary;
  width: 70%;
  margin-bottom: $spacing-medium-x;
}

.HomePage__box {
  @include flex-col;
  background-color: $color-background-dark-100;
  border-radius: $radius-large;
  padding: $spacing-medium;

  @include mobile-down {
    padding: 0;
    background-color: transparent;
  }
}

.HomePage__dropBox {
  @include flex-col;
  position: relative;
}

.HomePage__dropBoxPlaceholder {
  position: absolute;
  top: -$spacing-medium;
  left: -$spacing-medium;
  width: calc(100% + $spacing-medium * 2);
  height: calc(100% + $spacing-medium * 2);
  visibility: hidden;
  background-color: rgba($color-background-accent, 0.6);
  border-radius: $radius-small;
  display: flex;
}

.HomePage__dropBoxPlaceholderIcon {
  width: 144px;
  height: 144px;
  color: $color-background-primary;
  margin: auto;
}

.HomePage__dropBox_hidden {
  .HomePage__dropBoxPlaceholder {
    visibility: visible;
  }
}

.HomePage__submitButton {
  @include mobile-up {
    margin-left: auto;
  }
}

.HomePage__buttonHint {
  color: $color-text-tertiary;
}

.HomePage__divider {
  margin: $spacing-small 0;
}

.HomePage__textarea, .HomePage__filesContainer {
  width: 100%;
  margin-bottom: $spacing-small-3x;
  min-height: $textarea-height;
}

.HomePage__filesContainer {
  @include flex-middle;
  flex-wrap: wrap;
  gap: $spacing-small-x;
  border: 1px solid $color-border-default;
  border-radius: $radius-small;
  background-color: $color-background-primary;
  padding: $spacing-small-x;

  @include mobile-down {
    justify-content: center;
  }
}

.HomePage__uploadContainer {
  width: fit-content;
}

.HomePage__uploadButton {
  margin-right: auto;
}

.HomePage__uploadHint {
  color: $color-text-tertiary;
  margin-bottom: $spacing-small-3x;
}

.HomePage__orHint {
  margin-bottom: $spacing-small-3x;
  letter-spacing: 0.06rem;
}

.HomePage__loaderContainer {
  @include flex-col-middle;
  justify-content: center;
  row-gap: $spacing-small-4x;
  height: 100%;
}

.HomePage__loader {
  --loader-size: 96px;
  color: $color-background-secondary !important;
}

.HomePage__loaderText {
  @include text-programming-code-regular;
  font-size: $font-size-16;
}